*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'IBM Plex Sans' !important;
    background-color: #F5F6F8;
}

img{
    width: 100%;
    height: 100%;
}

ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

select{
    border-radius: 4px !important;
    border: 1px solid #CED4DA !important;
    background: #FFF !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    padding: 3px 5px;
    color: #495057;  
    font-size: 12.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none !important;
    box-shadow: inherit !important;
    appearance: auto !important;
 }

 input{
    border: 1px solid rgba(232, 233, 235, 1) !important;
 }
 
 label{
     color: #495057;
     font-size: 14.4px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

.page-wrapper{
    background-color: #F5F6F8;
}

table.dataTable{
    border-collapse: collapse !important;
    margin-bottom: 15px !important;
    border-bottom: 0 !important;
}


table.dataTable thead tr{
    border-bottom: 1px solid #a0a1a1 !important;
}

table.dataTable tr
{
    border-bottom: 1px solid #eff2f5 !important;
}

table.dataTable tbody tr:last-child{
    border-bottom: 0 !important;
}


table.dataTable td{
    padding: 13px 10px !important;
    font-size: 14px !important;
}

table.dataTable thead th{
    color: #707479 !important;
    font-size: 15px !important;
    padding: 13px 10px !important;
    font-size: 15px !important;
}

.dataTables_paginate{
    border: none !important;
}

.paginate_button.current{
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-header{
    display: flex !important;
    align-items: center !important;
    border-bottom: 1px solid #d5d5d5;
}

.card-header a{
    margin-left: auto !important;
}

.dataTables_paginate{
    display: flex;
    gap: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    border: 1px solid #eff2f5 !important;
    color: #acacac !important;
    /* cursor: not-allowed !important; */
}

.AddMoreForm .w-100.position-relative .text-danger{
    position: absolute;
    bottom: -15px;
    font-size: 11px;
}

.AddMoreForm .btn.remove{
    background-color: red;
    color: #fff;
    width: 100%;
    max-width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton{
    max-width: 180px;
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-transform: capitalize;
    text-align: center;
    box-shadow: none !important;
}

.submitButton:hover{
   background-color: transparent;
   border: 1px solid #037DE2 !important;
   color: #037DE2;
}

.editBtns{
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    background-color: #008cff;
    color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 24px;
}

.deleteBtns{
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    background-color: red;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 24px;
}

.deleteBtns i{
    color: #fff !important;
}

.error {
    color:red
}

@media only screen and (max-width:768px){
    p{
        font-size: 14px !important;
    }
}