*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'IBM Plex Sans' !important;
    background-color: #F5F6F8;
}

img{
    width: 100%;
    height: 100%;
}

ul,li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}

select{
    border-radius: 4px !important;
    border: 1px solid #CED4DA !important;
    background: #FFF !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    -o-border-radius: 4px !important;
    padding: 3px 5px;
    color: #495057;  
    font-size: 12.6px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    outline: none !important;
    box-shadow: inherit !important;
    appearance: auto !important;
 }

 input{
    border: 1px solid rgba(232, 233, 235, 1) !important;
 }

 input[type="search"]{
    border: 1px solid rgba(81, 82, 84) !important;
 }
 
 label{
     color: #495057;
     font-size: 14.4px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
}

.page-wrapper{
    background-color: #F5F6F8;
}

table.dataTable{
    border-collapse: collapse !important;
    margin-bottom: 15px !important;
    border-bottom: 0 !important;
}


table.dataTable thead tr{
    border-bottom: 1px solid #a0a1a1 !important;
}

table.dataTable tr
{
    border-bottom: 1px solid #eff2f5 !important;
}

table.dataTable tbody tr:last-child{
    border-bottom: 0 !important;
}


table.dataTable td{
    padding: 13px 10px !important;
    font-size: 14px !important;
}

table.dataTable thead th{
    color: #707479 !important;
    font-size: 15px !important;
    padding: 13px 10px !important;
    font-size: 15px !important;
}

.dataTables_paginate{
    border: none !important;
}

.paginate_button.current{
    color: #fff !important;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-header{
    display: flex !important;
    align-items: center !important;
    border-bottom: 1px solid #d5d5d5;
}

.card-header a{
    margin-left: auto !important;
}

.dataTables_paginate{
    display: flex;
    gap: 5px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    border: 1px solid #eff2f5 !important;
    color: #acacac !important;
    /* cursor: not-allowed !important; */
}

.AddMoreForm .w-100.position-relative .text-danger{
    position: absolute;
    bottom: -15px;
    font-size: 11px;
}

.AddMoreForm .btn.remove{
    background-color: red;
    color: #fff;
    width: 100%;
    max-width: 38px;
    height: 38px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.submitButton{
    max-width: 180px;
    width: 100%;
    padding: 8px 11px;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-transform: capitalize;
    text-align: center;
    box-shadow: none !important;
}

.submitButton:hover{
   background-color: transparent !important;
   border: 1px solid #6366f1 !important;
   color: #6366f1;
}

.editBtns{
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    background-color: rgba(99, 102, 241, 0.2);
    color: #6366f1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 24px;
}

.deleteBtns{
    width: 25px;
    height: 25px;
    display: block;
    text-align: center;
    background-color: rgba(230, 83, 60, 0.2);
    color: rgb(230, 83, 60);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    line-height: 24px;
}

.deleteBtns i{
    color: rgb(230, 83, 60);
}

.error {
    color:red
}

.preview-Img{
    width: 80px;
    height: 80px;
}

.preview-Img img{
    border: 1px dashed #ccc;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.variation-img{
    width: 50px;
    object-fit: contain;
}

.swal-text{
    text-align: center !important;
    font-size: 14px !important;
    line-height: 22px !important;
    color: #6c6969 !important;
}

.swal-title{
    font-size: 23px !important;
}

.swal-footer{
    text-align: center !important;
    margin-top: 0 !important;
}

.swal-footer .swal-button--confirm{
    font-weight: 700 !important;
    background-color: #6366f1 !important;
    font-size: 16px !important;
}

.swal-footer .swal-button--cancel{
   background-color: red !important;
   color: #fff !important;
   font-weight: 700 !important;
   font-size: 16px !important;
}

.btn-primary{
    background-color: #6366f1 !important;
    border-color: #6366f1 !important;
}

.userChat{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border: 1px solid #ccc;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 20px;
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
    min-height: 400px;
}

.userChat::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: transparent;
}

.userChat::-webkit-scrollbar
{
	width: 5px;
	/* background-color: #F5F5F5; */
}

.userChat::-webkit-scrollbar-thumb
{
	background-color: #FFF;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, 1) 0%,
											  rgba(0, 0, 0, 1) 25%,
											  transparent 100%,
											  rgba(0, 0, 0, 1) 20%,
											  transparent)
}

.userChat h1{
    font-size: 20px;
    color: #3f3e3e;
    text-transform: capitalize;
}

.userChat ul li{
    list-style-type: circle;
    list-style-position: inside !important;
}

.repor-img{
    height: 100px !important;
    width: 100px !important;
    /* object-fit: contain; */
}

/* .userChat ul li::marker{
    color: #000!important;
} */

tr{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}


@media only screen and (max-width:768px){
    p{
        font-size: 14px !important;
    }
}